.card-link {
  width: 100%;
  margin: 0.4rem;
  padding: 1.5rem;
  box-shadow: 0 3px 6px rgba(11,33,74,0.09), 0 -2px 2px rgba(11,33,74,0.03);
  cursor: pointer;
  transition: all 500ms;

  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Geomanist Regular', sans-serif;
    margin-top: 1rem;
  }

  p {
    font-size: 0.875rem;
    padding: 0.5rem 0;
  }

  &:hover {
    transition: transform 200ms;
    transform: scale(1.01)
  }

  @media (min-width: 768px) {
    width: 46.9%;
  }
  
  @media (min-width: 1200px) {
    width: 33.33%;
    max-width: 377px;
  }
}

.card-link.night {
  background-color: #0e161b;
  box-shadow: none;
}