.card-link {
  width: 32.2%;
  margin: 0.4rem;
  padding: 1.5rem;
  box-shadow: 0 0 5px -3.3px;
  cursor: pointer;

  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Geomanist Regular', sans-serif;
    margin-top: 1rem;
  }

  p {
    font-size: 0.875rem;
    padding: 0.5rem 0;
  }

  &:hover {
    transition: transform 200ms;
    transform: scale(1.01)
  }
}